@import "./css/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 10rem;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--body-bg-color);
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
a{
  text-decoration: none;
}
